<div class="container w-full mx-auto pb-2 bg-gray-100 text-gray-800 flex flex-col">
  <% if (colors.length > 0) { %>
    <form id='order-form' hx-post="/save-order" hx-target="#general-modal-content" hx-swap="innerHTML"  class=" bg-white p-4 rounded-md shadow-md flex-grow flex flex-col" onsubmit="prepareOrderData(event); showModal();">
      <div class="flex flex-col md:flex-row gap-4 w-full items-start flex-grow">
        <div class="flex flex-col space-y-2 w-full md:w-1/4">
          <label for="client_name" class="text-lg font-semibold">Tu nombre:</label>
          <input type="text" id="client_name" name="client_name" class="border border-gray-300 p-2 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white" placeholder="Ingresá tu nombre" required>
        </div>
        <div class="flex flex-col space-y-2 w-full md:w-1/4">
          <label for="color_selector" class="text-lg font-semibold">Personalizá tu florero:</label>
          <select id="color_selector" class="p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white">
            <% colors.forEach(color => { %>
              <option value="<%= color.cKey %>" data-hex="<%= color.hex_code %>" data-stock="<%=color.stock %>"><%= color.cName %>, Stock:<%= color.stock %></option>
            <% }); %>
          </select>
        </div>
        <div class="flex flex-col items-center md:items-center w-full md:w-1/4 mx-auto">
<div id="stack-preview" class="stack-preview flex flex-col justify-between space-y-1 w-full">
  <!-- Stack sides with perspective -->
  <% for (let i = 0; i < 25; i++) { %>
    <div id="stack-preview-<%= i %>" 
      class="disk-side mx-auto w-1/2"
      style="
        background-color: <%= colors[0].hex_code %>;
        height: 1.4rem;
        transform: perspective(400px) rotateX(45deg);
        margin-top: -2px;
      "
      data-ckey="<%= colors[0].cKey %>"
      onmousedown="startPainting(); applySelectedColor(<%= i %>)"
      onmouseup="stopPainting()"
      onmouseenter="if(isPainting) applySelectedColor(<%= i %>)"
      ontouchstart="startPainting(); applySelectedColor(<%= i %>)"
      ontouchend="stopPainting()"
      ontouchmove="handleTouchMove(event)">
    </div>
  <% } %>
</div>
      </div>
      <input type="hidden" id="color_spec" name="color_spec">
    </form>
  <% } else { %>
    <div class="text-center text-red-600 font-bold text-xl">No hay colores disponibles para personalizar tu maceta.</div>
  <% } %>
</div>
<div>
<div class="flex w-full px-2 justify-between items-center mt-4 flex-col md:flex-row">
<button type="button" class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded-md shadow-md transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500" onclick="openExampleModal()">Ver referencias</button>
<div class="flex items-center gap-2 hidden md:block">
  <input type="text" id="order-code" class="border border-gray-300 p-2 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Código de orden">
  <button type="button" class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded-md shadow-md transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500" onclick="fetchOrderDetails()">Buscar orden</button>
</div>
<button type="button" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-md shadow-md transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500" onclick="submitOrderForm()">Guardar orden</button>
</div>

<div id="general-modal" class="fixed inset-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50" style="display:none;">
  <div class="bg-white p-6 rounded-md shadow-md w-1/2">
    <div id="general-modal-content" class="mb-6"></div>
  </div>
</div>
<script>
  let isPainting = false;


  function startPainting() {
    isPainting = true;
  }

  function stopPainting() {
    isPainting = false;
  }
  document.body.addEventListener('mouseup', stopPainting);
  document.body.addEventListener('touchend', stopPainting);

  function fetchOrderDetails() {
    const orderCode = document.getElementById('order-code').value;
    if(orderCode) {
        htmx.ajax('GET', `/view-order/${orderCode}`, { target: '#general-modal-content', swap: 'innerHTML' });
        const modal = document.getElementById('general-modal');
        modal.style.display = 'flex';
    } else {
        alert('Debe ingresar el codigo de su orden');
    }
  }

  function handleTouchMove(event) {
    event.preventDefault();
    const touch = event.touches[0];
    const element = document.elementFromPoint(touch.clientX, touch.clientY);
    if (element && element.id.startsWith('stack-preview-')) {
      const i = parseInt(element.id.split('-')[2], 10);
      applySelectedColor(i);
    }
  }

  function openExampleModal() {
    htmx.ajax('GET', '/get-examples', {
      target: '#general-modal-content',
      swap: 'innerHTML'
    });
    const modal = document.getElementById('general-modal');
    modal.style.display = 'flex';
  }

  function closeModal() {
    const modal = document.getElementById('general-modal');
    const modalContent = document.getElementById('general-modal-content');
    modalContent.innerHTML = '';
    modal.style.display = 'none';
  }
  function prepareOrderData(event) {
    event.preventDefault()  
    const colorSpecArray = [];
    for (let i = 0; i < 25; i++) {
      const stackPreview = document.getElementById(`stack-preview-${i}`);
      const colorKey = stackPreview.getAttribute('data-ckey');
      colorSpecArray.push(colorKey);
    }
    document.getElementById('color_spec').value = colorSpecArray.join('');
  }

  function updateStock(colorKey, increment) {
    const colorOption = document.querySelector(`#color_selector option[value="${colorKey}"]`);
    if (colorOption) {
      let currentStock = parseInt(colorOption.getAttribute('data-stock'), 10);
      currentStock += increment;
      colorOption.setAttribute('data-stock', currentStock);
      colorOption.textContent = `${colorOption.textContent.split(':')[0]}: ${currentStock}`;

      if (currentStock <= 0) {
        colorOption.classList.add('text-red-600');
        navigator.vibrate(200);
      } else {
        colorOption.classList.remove('text-red-600');
      }
    }
  }

  function applySelectedColor(index) {
    const colorSelector = document.getElementById('color_selector');
    const selectedOption = colorSelector.options[colorSelector.selectedIndex];
    const hexCode = selectedOption.getAttribute('data-hex');
    const colorKey = selectedOption.value;
    const stackPreview = document.getElementById(`stack-preview-${index}`);
    const previousColorKey = stackPreview.getAttribute('data-ckey');
    let currentStock = parseInt(selectedOption.getAttribute('data-stock'), 10);

    // Update stock for previous color
    if (previousColorKey) {
      updateStock(previousColorKey, 1);
    }

      stackPreview.style.backgroundColor = hexCode;
      stackPreview.setAttribute('data-ckey', colorKey);
      updateStock(colorKey, -1);
    if (currentStock > 0) {
      colorSelector.classList.remove('text-red-600');
    } else {
      colorSelector.classList.add('text-red-600');
      navigator.vibrate(200);
    }
  }

  (function initializeStackPreview() {
    const colorSelector = document.querySelector('#color_selector');
    if (colorSelector && colorSelector.options.length > 0) {
      const initialColorKey = colorSelector.value;
      const initialHexCode = colorSelector.options[colorSelector.selectedIndex].getAttribute('data-hex');
      for (let i = 0; i < 25; i++) {
        const stackPreview = document.getElementById(`stack-preview-${i}`);
        stackPreview.style.backgroundColor = initialHexCode;
        stackPreview.setAttribute('data-ckey', initialColorKey);
      }
      updateStock(initialColorKey, -25);
    }
  })();
  function showModal() {
    const modal = document.getElementById('general-modal');
    modal.style.display = 'flex';
  }
  function submitOrderForm() {
    const form = document.getElementById('order-form');
    if (form) {
        form.requestSubmit();  
    }
  }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vibrate.js/1.0.0/vibrate.min.js"/>

