<tr id="color-<%= color.id %>">
  <td><%= color.cName %></td>
  <td><%= color.cKey %></td>
  <td><%= color.hex_code %></td>
  <td>
    <form id="update-stock-form-<%= color.id %>" hx-post="/admin/update-stock" hx-target="#color-<%= color.id %>" hx-swap="outerHTML">
      <input type="hidden" name="color_id" value="<%= color.id %>">
      <input type="number" name="new_stock" min="0" value="<%= color.stock %>" required>
      <button type="submit">Update</button>
    </form>
  </td>
  <td>
    <button hx-post="/admin/delete-color" hx-target="#color-<%= color.id %>" hx-swap="outerHTML" hx-vals='{"color_id": "<%= color.id %>"}'>Delete</button>
  </td>
</tr>
